<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
          Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
      <form [formGroup] = "credentials" (ngSubmit)="login()">
          <ion-item>
              <ion-label position="floating" >Email or Username</ion-label>
              <ion-input placeholder="Email" formControlName="email" type="email" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
          <ion-button type = "submit" expand="full"> Login </ion-button>
          <ion-item>
              <ion-label>Forgot Password?</ion-label>
              <ion-button  type = "button" [routerLink]="['/forgot']" expand="full"> Reset Password </ion-button>
          </ion-item>
          <ion-item>
              <ion-label>Don't have an account yet?</ion-label>
              <ion-button type = "button" [routerLink]="['/register']" expand="full"> Register </ion-button>
          </ion-item>
          
          
          
      </form>
  </div>
</ion-content>

