<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
          Reset Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
      <form [formGroup]="credentials" (ngSubmit)="resetpassword()" >
          <ion-item>
              <ion-label position="floating" >Email</ion-label>
              <ion-input placeholder="Email" formControlName="email" type="email"></ion-input>
          </ion-item>
            <ion-button  type="submit" expand="full"> Send a reset link</ion-button>
            <ion-button type="button" [routerLink]="['/home']" expand="full"> Home </ion-button>
      </form>
  </div>
</ion-content>

